@import '../variables.css';

.learning-page {
  padding: 20px;
  text-align: center;
}

.learning-page h2 {
  color: var(--color-white);
  margin-bottom: 30px;
  background-color: var(--color-text-main);
  padding: 10px;
  border-radius: 5px;
}

.hiragana-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
