@import '../../config/variables.css';

.learningPage {
  padding: 20px;
  text-align: center;
}

.learningPageTitle {
  color: var(--color-text-primary);
  margin-bottom: 30px;
  background-color: var(--color-bg-soft);
  padding: 10px;
  border-radius: 5px;
}

.hiraganaCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
} 